
.tableau {
	text-align:center;
	display:block;
	/*background-color: rgb(250, 230, 180);*/
	color: #000;
}



.tree {
  vertical-align: top;
	display: inline-block;
	text-align: center;
	position: relative;
	padding-top: 15px; /*level distance*/
	white-space: nowrap;
	/*border: 1px solid red;*/
}


/**************** DRAWING LINES*****************/
/*We will use ::before and ::after to draw the connectors*/
.tree::before{
	content: '';
	position: absolute; top: 0;
	border-top: 2px solid #ccc;
	width: 50%; height: 15px; right: 50%;
}
.tree::after{
    content: '';
    position: absolute; top: 0;
    border-top: 2px solid #ccc;
	width: 50%; height: 15px; left: 50%;
}
/*We need to remove left-right connectors from elements without
any siblings*/
.tree:only-of-type::after, .tree:only-of-type::before {
    display:none;
}

/*Remove space from the top of single children*/
.tree:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree:first-child::before, .tree:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree:last-child::before{
	border-right: 2px solid #aaa;
	border-top-right-radius: 10px;
}

.tree:first-child::after{
	border-top-left-radius: 10px;
	border-left: 2px solid #aaa;
}

/*Time to add downward connectors from parents*/
.subTrees::before{
	content: '';
	position: absolute; top: 0;
	border-left: 2px solid #ccc;
	width: 50%; height: 15px;
	left: 50%;
}

.subTrees {
    /*border: 1px solid green;*/
    padding-top: 15px;
	text-align: center;
	position: relative;
	white-space: nowrap;
}



/*********** NODE formatting ***********/
.node {
    display:inline-block;
	border-radius: 3px; border: 1px solid #aaa;
}
.node_id {
    font-family:"Courier New", Courier, monospace; color: #fff;
    padding-left: 2px; background-color: #555;
    border-radius: 3px 0px 0px 3px;
}
.modList, .argList, .llf {
	font-family:"Courier New", Courier, monospace;
	border-left: 2px solid #aaa; padding: 0px 3px 0px 3px;
    margin-left: -4px;
}
.true >  .llf{ background-color:rgb(210,250,200); }
.false > .llf{ background-color:rgb(250,210,200); }
.modList{background-color:rgb(210,200,250);}
.argList{background-color:rgb(250,230,150);}

.source > span.source {
    display: inline;
	font-size:85%; color: #fff;
	border: 1px solid #aaa;
	padding: 0px 2px 2px 2px;
	font-family: "Courier New", Courier, monospace;
	border-radius: 0px 0px 5px 5px;
	background-color:#555;
}

/************* Open branch and Closure ********************/
.open_branch > i.fa.fa-unlock{
   color: rgb(190,15,20);
   font-size: 200%;
   padding-left: 4px; display: block;
}

div.open_branch {
    font-family: "Courier New", Courier, monospace;
    color: #999; font-weight: bold;
}

.closure > i.fa.fa-times-circle{
   color: rgb(190,15,20);
   font-size: 170%;
   padding-left: 4px;
}
.closer{
  font-size:80%;
  color: #aaa;
  font-weight: bold;
  border: 1px solid #aaa;
  padding: 0px 3px 3px 3px;
	font-family: "Courier New", Courier, monospace;
	border-radius: 0px 0px 7px 7px;
}



/******** Styling the problem ************/

.problem {
    text-align:center;
	display:block;
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 20px;
}

.premise {
    text-align:center;
	display:block;
 	background-color:rgb(210,250,200);
	padding: 3px;
}

.conclusion {
	display:block;
    text-align:center;
	border-top: 3px solid #aaa;
	background-color:rgb(250,210,200);
	padding: 3px;
}
